@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant&display=swap');

:root
{
    --SizeTitre: 2.3vw;
    --sousTitreSize: 0.8em;
    --paragrapheSize: 0.6em;
    --background: #a0a0a0;
    --font: 'Cormorant', serif;
    --font-title: 'Cinzel', serif;
    --font-couleur: #D6D8E1;
}

* {
    cursor: none;
}

@media screen and (min-width: 1400px) {

    .scroll-btn {
        color: var(--font-couleur);
        font-family: var(--font-title);
        text-transform: uppercase;
        display: flex;
        justify-content: center;
    }
    .curseur {
        mix-blend-mode: difference;
        z-index: 10;
        background: transparent;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        border: 1px solid var(--font-couleur);
        position: absolute;
        transform: translate(-50%, -50%);
        pointer-events: none;
        
    }
    .interact {
        mix-blend-mode: difference;
        z-index: 10;
        background: rgba(255, 32, 32, 0.493);
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        border: none;
        position: absolute;
        transform: translate(-50%, -50%);
        pointer-events: none;
    }
    *
    {
        margin: 0;
        padding: 0;
    }

    html,
    body
    {
        
        overflow-x: hidden;
        background: rgb(138, 138, 138);
    }


    .webgl
    {
        position: absolute;
        top: 0;
        left: 0;
        outline: none;
    }
    .section
    {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 50vw;
        position: relative;
        font-family: var(--font-title);
        color: var(--font-couleur);
        text-transform: uppercase;
        font-size: 4vmin;
    }
    /* section > .titre.principale {
        margin-left: 21%;
        margin-right: 21%;
    } */
    .section.one > span{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 1vw;
        font-family: var(--font-title);
        position: absolute;
        color: transparent;
        opacity: 0;
    }

    .titre.principale {
        transform: translate(243px, 70px) !important;
    }

    .overlay {
    background-color: rgba(255, 255, 255, 0.795);
    height: 17.8vw;
    width: 10vw;
    position: absolute;
    }

    section > h1 
    {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: var(--font-couleur);
        font-size: var(--SizeTitre);
        /* letter-spacing: 0.2em; */
        opacity: 0;
        font-family: var(--font) ;
        mix-blend-mode: difference;
    }

    .section.job 
    {
        display: grid !important;
        grid-template-columns: repeat(2, 54rem);
        width: 92%;
        height: 53rem;
        margin: 0;
        padding: 0;
        background-color: rgb(0, 0, 0);
    }

    .section.projet
    {
        background: url(/static/image/couverture_nissan.jpg);
        background-size: cover;
    }


    .titre.principale2 > span 
    {
        text-transform: lowercase;
        font-weight: 300;
        font-size: var(--font-title);
        opacity: 1;
    }

    p.description
    {
        text-transform: lowercase;
        font-weight: 300;
        color: grey;
        font-size: var(--paragrapheSize) !important;
    }

    .job {
        display: grid;
        grid: repeat(2, 5rem);
    }
    .block_titre
    {
        margin: 0;
        padding: 14rem 0rem;
        width: 90%;
        grid-column: 1/2;
    }
    .block_illustration
    {
        position: relative;
        display: flex;
        width: 100%;
        margin-top: 7vw;
        height: 27em;
        border-style: none;
        grid-column: 2/2;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        justify-content: center;
    }

    #afficherImg{
        width: 34vw;
    }

    .skull_picture {
        background-size: cover;
        /* position: absolute; */
        top: 41.5vh;
        left: 80vh;
        width: 22rem;
    }

    .scd-parti{
        margin-left: 4.5rem;
        opacity: 0;
    }
    .webgl2 
    {
        width: 100%;
        height: 42.8rem;
        background-color: blue;
    }

    .container_desc_projet 
    {
        position: absolute;
        background-color: rgb(154, 215, 253);
        padding-left: 12vh;
        padding-top: 12vh;
        padding-right: 6vh;
        width: 140vh ;
        height: 38vh;
        left: 110vh;
        top: 48vh;
        overflow: hidden;
    }
    .project_title {
        margin-top: -2vh;
        margin-left: 9vh;
        font-size: 2.4rem;
    }
    .description_projet {
        font-size: var(--paragrapheSize);
        margin-left: 28vh;
        margin-top: 8vh;
    }

    .logo {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 900;
        font-size: 1em;
        margin-top: 2vw;
        margin-left: 5vw;
        color: #e4e4e4;
    }

    /* Les box preview */
    .container-box-preview {
        margin-top: 2em;
        margin-left: 6vw;
        height: 26vw;
        display: grid;
        grid-template-columns: repeat(3, 11rem);
        column-gap: 0.01em;
        row-gap: 0.01em;
    }

    .box-preview {
        width: 12vw;
        height: 17rem;
        margin: 0;
        background: transparent;
        transition: 500ms ease-out;
        display: flex;
        overflow: hidden;
        justify-content: center;
        
    }
    .img-preview {
        width: 180%;
    }
    .box-preview:hover{
        cursor: pointer;
        transform: scale(1.05);
    }
    .box-preview:focus{
        cursor: pointer;
        transform: scale(1.05);
        box-shadow: rgba(195, 225, 255, 0.096) 0px 8px 24px;
    }
    .block_illustration > span {
        text-transform: none;
        opacity: 0.8;
        font-size: 3vw;
        font-family: 'Ephesis', cursive;
    }
    #imgtext {
        position: relative;
        transform: translate(2vw, -6vw);
    }
}

/* Responsive mobile */

@media screen and (min-width: 360px) {
    
    .cursor {
        background: url(/static/img/Relique.png);
        
    }
    *
    {
        margin: 0;
        padding: 0;
    }

    html,
    body
    {
        
        overflow-x: hidden;
        background: black;
    }


    .webgl
    {
        position: absolute;
        top: 0;
        left: 0;
        outline: none;
    }
    .section
    {
        display: flex;
        align-items: center;
        height: 44rem;
        position: relative;
        font-family: 'Cabin', sans-serif;
        color: #ffffff;
        text-transform: uppercase;
        font-size: 4vmin;
    }
    /* section > .titre.principale {
        margin-left: 21%;
        margin-right: 21%;
    } */
    .section.one{
        display: flex;
        justify-content: flex-start;
    }

    .section.one > span{
        position: absolute;
        justify-content: flex-start;
        color: whitesmoke;
        font-family: var(--font);
        opacity: 0;
        font-size: var(--paragrapheSize);
        transform: translate(0px, 39px);
    }

    .titre.principale {
        transform: translate(243px, 70px) !important;
    }

    section > h1 
    {
        justify-content: center;
        color: white;
        font-size: var(--SizeTitre);
        /* letter-spacing: 0.2em; */
        opacity: 0;
        font-family: var(--font) ;
        mix-blend-mode: difference;
    }

    .section.job 
    {
        display: block;
        width: 100%;
        height: 80rem;
        margin: 0;
        padding: 0;
        background-color: rgb(0, 0, 0);
    }

    .section.projet
    {
        background: url(/static/image/couverture_nissan.jpg);
        background-size: cover;
    }


    .titre.principale2 {
        font-family: var(--font-title);
        transform: translate(-6vw, 0px) !important;
    }

    .titre.principale2 > span 
    {
        text-transform: lowercase;
        font-weight: 300;
        font-size: var(--font-title);
        opacity: 1;
    }

    .container_titre {
        transform: translate(188px, 0px);
    }

    p.description
    {
        text-transform: lowercase;
        font-weight: 300;
        color: grey;
        font-size: var(--paragrapheSize) !important;
    }

    .job {
        display: grid;
        grid: repeat(2, 5rem);
    }
    .block_titre
    {
        margin: 0;
        padding: 4rem 0rem;
        width: 90%;
        grid-column: 1/2;
    }
    .block_illustration
    {
        
        display: flex;
        width: 100%;
        height: 15em;
        border-style: none;
        grid-column: 2/2;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        justify-content: center;
    }

    #afficherImg{
        width: 34vw;
    }

    .skull_picture {
        background-size: cover;
        /* position: absolute; */
        top: 41.5vh;
        left: 80vh;
        width: 22rem;
    }

    .scd-parti{
        margin-left: -4.5rem;
        opacity: 0;
    }
    .webgl2 
    {
        width: 100%;
        height: 42.8rem;
        background-color: blue;
    }

    .container_desc_projet 
    {
        position: absolute;
        background-color: rgb(154, 215, 253);
        padding-left: 12vh;
        padding-top: 12vh;
        padding-right: 6vh;
        width: 140vh ;
        height: 38vh;
        left: 110vh;
        top: 48vh;
        overflow: hidden;
    }
    .project_title {
        margin-top: -2vh;
        margin-left: 9vh;
        font-size: 2.4rem;
    }
    .description_projet {
        font-size: var(--paragrapheSize);
        margin-left: 28vh;
        margin-top: 8vh;
    }

    .logo {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 900;
        font-size: 1em;
        margin-top: 2vw;
        margin-left: 5vw;
        color: #e4e4e4;
    }

    /* Les box preview */
    .container-box-preview {
        margin-top: 2em;
        margin-left: 6vw;
        display: grid;
        grid-template-columns: repeat(3, 11rem);
        column-gap: 0.01em;
        row-gap: 0.01em;
    }

    .box-preview {
        width: 80%;
        height: 16rem;
        margin: 0;
        background: transparent;
        transition: 500ms ease-out;
        display: flex;
        overflow: hidden;
        justify-content: center;
    }
    .img-preview {
        width: 180%;
    }
    .box-preview:hover{
        cursor: pointer;
        transform: scale(1.05);
    }
    .box-preview:focus{
        cursor: pointer;
        transform: scale(1.05);
        box-shadow: rgba(195, 225, 255, 0.096) 0px 8px 24px;
    }
    .block_illustration > span {
        text-transform: none;
        opacity: 0.8;
        font-size: 3vw;
        font-family: 'Ephesis', cursive;
    }
    #imgtext {
        position: relative;
        transform: translate(2vw, -6vw);
    }
}