@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant&display=swap');

:root
{
    --SizeTitre: 2.3vw;
    --sousTitreSize: 0.8em;
    --paragrapheSize: 0.6em;
    --background: #a0a0a0;
    --font: 'Cormorant', serif;
    --font-title: 'Cinzel', serif;
    --font-couleur: #D6D8E1;
}

*, li {
    cursor: none;
    list-style: none;
}

li.ss-menu.actif {
    font-weight: 700;
    color: rgb(255, 255, 255);
}
.loader-page.actif {
    position: fixed;
    z-index: 10;
    /* background: red; */
    width: 100%;
    height: 100%;
}
.hide{
    display: none !important;
}

/* Scroll bar  */

/* width */
::-webkit-scrollbar {
    width: 0.6vw;
  }
  
  /* Track */
  ::-webkit-scrollbar-track { 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(237, 246, 255); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(27, 28, 29, 0.651); 
  }


@media screen and (min-width: 1300px) {

    .galerie.web-design {
        padding: 2em 1em;
        top: -17vw;
        width: 111%;
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 8fr);
        background-color: #e8e8e8;
    }
    
    figure:nth-child(1){
        width: fit-content;
        grid-column: 1/2;
        overflow-y: hidden;
    }
    figure:nth-child(2){
        width: fit-content;
        grid-column: 2/2;
        justify-self: end;
        overflow-y: hidden;
    }

    .slider.dev{
        display: block;
    }
    .slider.motion{
        display: none;
    }
    .slider{
        position: absolute;
        left: 0%;
        top: 50%;
        width: 100%;
        height: 100%;
        overflow: hidden;
}

    .contain_sousmenu {
        display: grid;
        margin-top: 2em;
        text-transform: none;
        width: 14vw;
    }

    .ss-menu{
        font-size:6vw;
        position: relative;
        width: max-content;
        padding-bottom: 0.2em;
    }
    .cont-text-menu:nth-child(1) {
        margin-right: 1em;
        grid-column: 1/2;
        width: fit-content;
        font-family: var(--font);
        font-size: 1.8vw;
        
    }

    .cont-text-menu:nth-child(2) {
        grid-column: 1/2;
        width: fit-content;
        font-family: var(--font);
        font-size: 1.8vw;
    }

    .ss-menu::after {
        content: "";
        position: absolute;
        left: 0px;
        bottom: -3px;
        height: 2px;
        width: 100%;
        background: rgb(255, 255, 255);
        transform: scaleX(0);
        transform-origin: right;
        
        opacity: 0.7;
        
        transition: transform 500ms ease;
    }
    .cont-text-menu:hover .ss-menu::after {
        transform: scaleX(1);
        transform-origin: left;
        opacity: 1;
        z-index: 5;
    }
    .cont-text-menu .ss-menu.actif::after{
        transform: scaleX(1);
        background: rgb(255, 255, 255);
    }
    .scroll-btn {
        transform: translate(-4vw, 13vw) !important;
        position: relative;
        top: -10vw;
        color: var(--font-couleur);
        font-family: var(--font-title);
        text-transform: uppercase;
    }

    .curseur {
        mix-blend-mode: difference;
        z-index: 10;
        background: transparent;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        border: 1px solid var(--font-couleur);
        position: absolute;
        transform: translate(-50%, -50%);
        pointer-events: none;
        
    }
    .interact {
        mix-blend-mode: difference;
        z-index: 10;
        background: rgba(255, 32, 32, 0.493);
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        border: none;
        position: absolute;
        transform: translate(-50%, -50%);
        pointer-events: none;
    }

    *
    {
        margin: 0;
        padding: 0;
    }

    html,
    body
    {
        
        overflow-x: hidden;
        background: radial-gradient(circle, rgb(17, 17, 19) 0%, rgb(10, 10, 10) 39%, rgba(0,0,0,1) 100%);
    }


    .webgl
    {
        position: fixed;
        top: 0;
        left: 0;
        outline: none;
    }
    .section
    {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 42vw;
        position: relative;
        font-family: var(--font-title);
        color: var(--font-couleur);
        text-transform: uppercase;
        font-size: 4vmin;
    }

    .section.contact {
        height: 19vw;
        background-color: black;
    }

    .section.one {
        transform: translate(8vw, 6vw) !important;
    }

    .section.one > span{
        letter-spacing: 0.1em;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 1vw;
        font-family: var(--font-title);
        position: absolute;
        color: transparent;
        opacity: 0;
        font-size: var(--paragrapheSize);
        transform: translate(39px, -33px) !important;
    }

    .titre.principale {
        display: block !important;
        font-size: 3vw !important;
        transform: translate(2.2vw, 1.4vw) !important;
    }
    .titre.principale_mobile{
        display: none;
    }
    
    .titre.principale2 {
        margin-bottom: 0em !important;
        font-size: 1.4vw !important;
        font-family: var(--font-title);
        transform: translate(-11vw, 0vw) !important;
    }

    .overlay {
    background-color: rgba(255, 255, 255, 0.795);
    height: 17.8vw;
    width: 10vw;
    position: absolute;
    }

    section > h1 
    {
        margin-top: -1em;
        letter-spacing: 0.1em;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: var(--font-couleur);
        font-size: var(--SizeTitre);
        /* letter-spacing: 0.2em; */
        opacity: 0;
        font-family: var(--font) ;
        mix-blend-mode: difference;
    }

    .section.job 
    {
        top: -2vw !important;
        width: 100%;
        height: 86vw !important;
        margin: 0;
        padding: 6vw 0vw;
        background-color: transparent;
    }

    .section.projet
    {
        background: url(/static/image/couverture_nissan.jpg);
        background-size: cover;
    }

    .scroll-btn2 {
        z-index: 9;
        position: absolute !important;
        left: -29vw !important;
        top: 89vw !important;
    }
            .section.perso 
            {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                grid-template-rows: repeat(3, 1fr);
                grid-column-gap: 0px;
                grid-row-gap: 0px;
                padding: 2em 5em;
                height: 53vw;
                background: url(https://wallpapersmug.com/u/2cdbd6/skull-statue-art.jpg);
                background-size: contain;
                background-position: center;
                text-transform: none;
            }

            .div1 { 
                background: rgb(243, 76, 76);
                grid-area: 1 / 1 / 6 / 6; 
            }
            .div2 { 
            font-size: 3vw;
            font-family: var(--font-title);
            width: 25vw;
            grid-area: 1 / 1 / 6 / 3;
            }

            .div3 { 
            font-size: 1.5vw;
            font-family: var(--font);
            width: 33vw;
            grid-area: 1 / 4 / 6 / 6; 
            }

    .titre.principale2 > span 
    {
        text-transform: lowercase;
        font-weight: 300;
        font-family: var(--font-title);
        opacity: 1;
    }

    p.description
    {
        text-transform: lowercase;
        font-weight: 300;
        color: white;
        font-size: var(--paragrapheSize) !important;
    }

    .job {
        display: grid;
        grid: repeat(2, 5rem);
    }
    .block_titre
    {
        margin: 0;
        padding: 2rem 1rem !important;
        width: 100%;
        grid-column: 1/2;
    }
    .block_illustration
    {
        position: relative;
        display: flex;
        width: 100%;
        margin-top: 7vw;
        height: 27em;
        border-style: none;
        grid-column: 2/2;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        justify-content: center;
    }

    #afficherImg{
        width: 34vw;
    }

    .skull_picture {
        background-size: cover;
        /* position: absolute; */
        top: 41.5vh;
        left: 80vh;
        width: 22rem;
        transform: translate(-11vw, 4vw);
    }

    .scd-parti{
        margin-left: -6rem;
        opacity: 0;
    }
    .scd-parti > span {
        font-size: 1vw;
        font-family: var(--font-title);
    }
    .webgl2 
    {
        width: 100%;
        height: 42.8rem;
        background-color: blue;
    }

    .container_desc_projet 
    {
        position: absolute;
        background-color: rgb(154, 215, 253);
        padding-left: 12vh;
        padding-top: 12vh;
        padding-right: 6vh;
        width: 140vh ;
        height: 38vh;
        left: 110vh;
        top: 48vh;
        overflow: hidden;
    }
    .project_title {
        margin-top: -2vh;
        margin-left: 9vh;
        font-size: 2.4rem;
    }
    .description_projet {
        font-size: var(--paragrapheSize);
        margin-left: 28vh;
        margin-top: 8vh;
    }

    .logo > svg {
        z-index: 9;
        position: fixed;
        width: 7vw;
        mix-blend-mode: difference;
        top: 3vw;
        left: 5vw;
    }

    /* Les box preview */
    img.slide__imgdev {
        display: none;
    }

    span.slide__imgdev {
        display: none;
    }

    .text-slide {
        position: absolute;
        transform: translate(28px, -57px);
        font-family: var(--font);
        font-size: 1.5vw;
    }

    .developpementWeb{
        display: block;
    }

    .slider{
        position: absolute;
        left: 0%;
        top: 46%;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
      
      
      .slider-inner {
        margin-top: 2em;
        margin-left: 3vw;
        position: absolute;
        left: 0;
        top: 1vw !important;
        height: 100%;
        width: 196%;
        display: grid;
        grid-template-columns: repeat(6, 11rem);
        row-gap: 0.01em;
        gap: 21.5rem;
        pointer-events: none;
        transition: 0s ease-in;
        overflow: visible;
      }
      
      .slide {
        width: 31vw;
        height: 100%;
      }
      
      /* .slide__img {
        width: 100%;
        height: 100%;
      }
      
      .slide__img--1 {
        background-color: aliceblue;
      }
      
      .slide__img--2 {
        background-color: tomato;
      }
      
      .slide__img--3 {
        background-color: aqua;
      }
      
      .slide__img--4 {
        background-color: blueviolet;
      }
      
      .slide__img--5 {
        background-color: yellow;
      }
      
      .slide__img--6 {
        background-color: turquoise;
      }
      
      .slide__img--7 {
        background-color: cornflowerblue;
      } */
      

    .box-preview 
    {
        width: fit-content !important;
        height: fit-content !important;
        margin: 0;
        background: transparent;
        transition: 500ms ease-out;
        display: flex;
        overflow: hidden;
        justify-content: center;
        pointer-events: none;
    }

    .img-preview {
        width: 100% !important;
    }
    .box-preview:hover{
        cursor: pointer;
    }
    .box-preview:focus{
        cursor: pointer;
        box-shadow: rgba(195, 225, 255, 0.096) 0px 8px 24px;
    }
    .block_illustration > span {
        text-transform: none;
        opacity: 0.8;
        font-size: 3vw;
        font-family: 'Ephesis', cursive;
    }
    #imgtext {
        position: relative;
        transform: translate(-9vw, -5vw);
    }
}

/* Responsive mobile */

@media screen and (min-width: 380px) 

{
    
    .cursor {
        background: url(/static/img/Relique.png);
        
    }
    *
    {
        margin: 0;
        padding: 0;
    }

    html,
    body
    {
        
        overflow-x: hidden;
        background: radial-gradient(circle, rgba(35,34,38,1) 0%, rgba(22,22,22,1) 39%, rgba(0,0,0,1) 100%);
    }

    .logo {
        position: fixed;
        z-index: 9;
        mix-blend-mode: difference;
        width: 25vw;
        padding: 1em;
    }

    /*Scroll button css mobile*/

    .scroll-btn {
        opacity: 1;
        transform: translate(-120px, 137px) ;
    }

    .webgl
    {
        position: fixed;
        top: 0;
        left: 0;
        outline: none;
    }
    .section
    {
        display: flex;
        align-items: center;
        height: 46vw;
        position: relative;
        font-family: 'Cabin', sans-serif;
        color: #ffffff;
        text-transform: uppercase;
        font-size: 4vmin;
    }


    .section.one {
        transform: translate(2px, 155px);
        display: flex;
    }

    .section.one > span {
        position: absolute;
        justify-content: flex-start;
        color: whitesmoke;
        font-family: var(--font);
        opacity: 0;
        font-size: var(--paragrapheSize);
        transform: translate(43px, 39px);
    }
    .titre.principale{
        display: none;
    }
    .titre.principale_mobile {
        font-size: 7vw !important;
        transform: translate(12vw, 14vw) !important;
    }

    section > h1 
    {
        justify-content: center;
        color: white;
        font-size: var(--SizeTitre);
        /* letter-spacing: 0.2em; */
        opacity: 0;
        font-family: var(--font) ;
        mix-blend-mode: difference;
    }

    .section.job 
    {
        
        top: 14vw;
        width: 100%;
        height: 60rem;
        margin: 0;
        padding: 1vw 0vw;
        background-color: transparent;
    }

    .section.projet
    {
        background: url(/static/image/couverture_nissan.jpg);
        background-size: cover;
    }


    .titre.principale2 {
        margin-bottom: 0em !important;
        font-size: 2vw !important;
        font-family: var(--font-title);
        transform: translate(-41vw, 0vw) !important;
    }
    
    

    .titre.principale2 > span 
    {
        text-transform: lowercase;
        font-weight: 300;
        font-family: var(--font-title);
        opacity: 1;
    }

    .container_titre {
        transform: translate(190px, -273px);
    }

    p.description
    {
        text-transform: lowercase;
        font-weight: 300;
        color: white;
        font-family: var(--font-title) !important;
    }

    .job {
        display: grid;
        grid: repeat(2, 5rem);
    }

    .block_titre
    {
        margin: 0;
        padding: 2rem 1rem !important;
        width: 90%;
        grid-column: 1/2;
    }

    .block_illustration
    {
        
        display: flex;
        width: 100%;
        height: 15em;
        border-style: none;
        grid-column: 2/2;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        justify-content: center;
    }

    #afficherImg{
        width: 34vw;
    }

    .skull_picture {
        background-size: cover;
        /* position: absolute; */
        top: 41.5vh;
        left: 80vh;
        width: 22rem;
        transform: translate(-11vw, 4vw);
    }

    .scd-parti {
        margin-left: -11rem;
        opacity: 0;
        font-size: 3vw;
    }
    .webgl2 
    {
        width: 100%;
        height: 42.8rem;
        background-color: blue;
    }

    .container_desc_projet 
    {
        position: absolute;
        background-color: rgb(154, 215, 253);
        padding-left: 12vh;
        padding-top: 12vh;
        padding-right: 6vh;
        width: 140vh ;
        height: 38vh;
        left: 110vh;
        top: 48vh;
        overflow: hidden;
    }
    .project_title {
        margin-top: -2vh;
        margin-left: 9vh;
        font-size: 2.4rem;
    }
    .description_projet {
        font-size: var(--paragrapheSize);
        margin-left: 28vh;
        margin-top: 8vh;
    }

    /* Les box preview */

    .box-preview {
        width: 100%;
        height: 16rem;
        margin: 0;
        background: transparent;
        transition: 500ms ease-out;
        display: flex;
        overflow: hidden;
        justify-content: center;
    }
    .img-preview {
        width: 100%;
    }
    .box-preview:hover{
        cursor: pointer;
        transform: scale(1.05);
    }
    .box-preview:focus{
        cursor: pointer;
        transform: scale(1.05);
        box-shadow: rgba(195, 225, 255, 0.096) 0px 8px 24px;
    }
    .block_illustration > span {
        text-transform: none;
        opacity: 0.8;
        font-size: 3vw;
        font-family: 'Ephesis', cursive;
    }

    #imgtext {
        position: relative;
        transform: translate(-9vw, -5vw);
    }
/* SLIDER MOBILE GALERIE */
    .slider-inner {
        margin-top: 2em;
        margin-left: 3vw;
        position: absolute;
        left: 0;
        top: 64vw;
        height: 100%;
        width: 196%;
        display: grid;
        grid-template-columns: repeat(6, 11rem);
        row-gap: 0.01em;
        gap: 21.5rem;
        pointer-events: none;
        transition: 0s ease-in;
        overflow: visible;
      }
}